#root {
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
}
body{
  background-color: #838383;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

form{
  display: inline-flex;
  flex-direction: column;
  row-gap: 10px;
  background-color: white;
  padding: 50px 100px;
  color: black;
  border-radius: 30px;
}

form h2{
  margin-top: 0;
}


form input{
  padding: 10px;
  width: 400px;
  background-color: #eee;
  color: black;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


header button{
  background-color: red;
}

